
a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600 ;
}


p{
    text-align: justify;
    font-family: sans-serif;
    color: #4b5563;
}

.text-medium{
    font-size: 1.35rem;
}

h1{
    font-family: sans-serif;
    font-size: 2.75rem;
    line-height: 1;
    font-weight: 700;
    
}

h2{
    font-size: 2.25rem;
    font-family: sans-serif;
    line-height: 2.5rem;
    font-weight: 700;
}

h3{
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600 ;
}

label{
    font-family: sans-serif;
    color: #4b5563;
    font-size: 1rem;
    line-height: 1.25rem;
}

input{
    border-radius: 0.3rem;
    padding: 0.75rem;
    font-family: sans-serif;
    border-width: 2px;
    border-style: solid;
    border-color: #d1d5db;
    font-size: 0.9rem;
}

textarea{
    border-radius: 0.3rem;
    padding-top: 0.75rem;
    padding-left: 0.75rem;
    font-family: sans-serif;
    border-width: 2px;
    border-style: solid;
    border-color: #d1d5db;
    font-size: 0.9rem;
}
.logo{
    height:100px;
    width: auto; 
    vertical-align:middle;
}

.header-container{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    gap:20px;
    padding-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

.main-nav ul{
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items:center;
    list-style-type: none;
}

.main-nav a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}